.signup-block {
  background-color: white;
  width: 800px;
  height: 810px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: Barlow Condensed;
  padding-top: 20px;
  cursor: pointer;
  margin-bottom: 100px;
  cursor: pointer;
  border: none;
}

.signup-title {
  font-size: 60px;
  color: rgb(72, 20, 20);
  text-align: center;
  margin-bottom: 30px;
}

.first-name,
.input-first,
.last-name,
.input-last,
.sign-email,
.input-email,
.form-of-identity,
.sign-password,
.pass,
.sign-confirm,
.confirm-pass {
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 28px;
  color: rgb(18, 18, 99);
  border-color: maroon;
  border-radius: 7px;
}

.input-email {
  width: 500px;
}

.submit-proof {
  font-size: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.first,
.second,
.third,
.fourth {
  display: inline-block;
}

.input-first,
.input-last,
.input-email,
.pass,
.confirm-pass {
  height: 40px;
}

.submit-proof {
  margin-top: 10px;
  margin-bottom: 30px;
}

.signup-button {
  background-color: maroon;
  width: 180px;
  height: 60px;
  display: block;
  margin-left: 160px;
  font-size: 28px;
  border-radius: 12px;
  animation: none opacity 200ms;
  margin-bottom: 30px;
  color: white;
  margin: auto;
  animation: none opacity 200ms;
  text-decoration: none;
}

.signup-button:hover {
  opacity: 0.7;
}

.button-2 {
  margin-top: 50px;
}